<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío MVT - Home</title>
</head>
<body>
    
    <h1 style="color: darkcyan">¡Bienvenido al Desaf&iacute;o MVT!</h1>
    <h3>Aquí encontrarás los datos de algunos de mis familiares. Tendrás que cambiar el path manualmente, con alguno de los siguientes:</h3>

    <p style="color: darkred">&#8226; /madre</p>
    <p style="color: darkred">&#8226; /padre</p>
    <p style="color: darkred">&#8226; /novia</p>
    <p style="color: darkred">&#8226; /abuela</p>
    <p style="color: darkred">&#8226; /primo</p>

</body>
</html>